<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application Form 5</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .mandatory-symbol{
            color: blue;
        }

        .error{
            color: red;
        }

    </style>
</head>
<body>
    <h1 class="text-center mt-2">Vivek Panchal - 24DEV070 - 08/03/2024</h1>
    <h2 class="text-center mt-2">Task - 4 Job Application Validation</h2>
    <form action="/task10/post-job-application" onsubmit="return dataValidation()" method="post">
        <div class="container">
            <h2 class="text-center mt-5">Job Application</h2>
            <% if(error !== "") {%>
                <h4 class="text-center text-danger"><%= error %></h4>
            <% } %>
            <div id="basicDetail" class="mb-4">
                <h4>Basic Details</h4>
                <div class="row">
                    <input type="hidden" name="student" value="<% if(student !== ""){%><%= student %> <% } %>">
                    <div class="col-6">
                        <label for="firstName">First Name: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="firstName" id="firstName" autofocus class="require" <% if(basicDetails !== "" && basicDetails[0].FirstName) {%> value="<%= basicDetails[0].FirstName %>" <%} %> >
                    </div>
                    <div class="col-6">
                        <label for="lastName">Last Name: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="lastName" id="lastName" class="require" <% if(basicDetails !== "" && basicDetails[0].LastName) {%> value="<%= basicDetails[0].LastName %>" <%} %>>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <label for="designation">Designation: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="designation" id="designation" class="require" <% if(basicDetails !== "" && basicDetails[0].Designation) {%> value="<%= basicDetails[0].Designation %>" <%} %>>
                    </div>
                    <div class="col-6">
                        <label for="address1">Address1: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="address1" id="address1" class="require" <% if(basicDetails !== "" && basicDetails[0].Address1) {%> value="<%= basicDetails[0].Address1 %>" <%} %>>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <label for="email">Email: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="email" id="email" onblur="handleLowerCase()" class="require" <% if(basicDetails !== "" && basicDetails[0].Email) {%> value="<%= basicDetails[0].Email %>" <%} %>>
                    </div>
                    <div class="col-6">
                        <label for="address2">Address2: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="address2" id="address2" class="require" <% if(basicDetails !== "" && basicDetails[0].Address2) {%> value="<%= basicDetails[0].Address2 %>" <%} %>>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <label for="phoneNumber">Phone Number: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="phoneNumber" id="phoneNumber" class="require" <% if(basicDetails !== "" && basicDetails[0].PhoneNumber) {%> value="<%= basicDetails[0].PhoneNumber %>" <%} %>>
                    </div>
                    <div class="col-6">
                        <label for="city">City: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="city" id="city" class="require" <% if(basicDetails !== "" && basicDetails[0].City) {%> value="<%= basicDetails[0].City %>" <%} %>>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6" id="genderComp">
                        <label for="gender">Gender: <span class="mandatory-symbol">*</span></label>
                        <input type="radio" name="gender" id="male" value="Male" <% if(basicDetails !== "" && basicDetails[0].Gender === "Male") {%> checked <%} %> >
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="female" value="Female" <% if(basicDetails !== "" && basicDetails[0].Gender === "Female") {%> checked <%} %> >
                        <label for="female">Female</label>
                    </div>
                    <div class="col-6">
                        <label for="state">State: <span class="mandatory-symbol">*</span></label>
                        <select name="state" id="state">
                            <option value="Andhra Pradesh" <% if(basicDetails !== "" && basicDetails[0].State === "Andhra Pradesh") {%> selected <%} %>>Andhra Pradesh</option>
                            <option value="Arunachal Pradesh" <% if(basicDetails !== "" && basicDetails[0].State === "Arunachal Pradesh") {%> selected <%} %>>Arunachal Pradesh</option>
                            <option value="Asssam" <% if(basicDetails !== "" && basicDetails[0].State === "Asssam") {%> selected <%} %>>Asssam</option>
                            <option value="Bihar" <% if(basicDetails !== "" && basicDetails[0].State === "Bihar") {%> selected <%} %>>Bihar</option>
                            <option value="Chhattisgarh" <% if(basicDetails !== "" && basicDetails[0].State === "Chhattisgarh") {%> selected <%} %>>Chhattisgarh</option>
                            <option value="Goa" <% if(basicDetails !== "" && basicDetails[0].State === "Goa") {%> selected <%} %>>Goa</option>
                            <option value="Gujarat" <% if(basicDetails !== "" && basicDetails[0].State === "Gujarat") {%> selected <%} %>>Gujarat</option>
                            <option value="Haryana" <% if(basicDetails !== "" && basicDetails[0].State === "Haryana") {%> selected <%} %>>Haryana</option>
                            <option value="Himachal Pradesh" <% if(basicDetails !== "" && basicDetails[0].State === "Himachal Pradesh") {%> selected <%} %>>Himachal Pradesh</option>
                            <option value="Jharkhand" <% if(basicDetails !== "" && basicDetails[0].State === "Jharkhand") {%> selected <%} %>>Jharkhand</option>
                            <option value="Karnataka" <% if(basicDetails !== "" && basicDetails[0].State === "Karnataka") {%> selected <%} %>>Karnataka</option>
                            <option value="Kerala" <% if(basicDetails !== "" && basicDetails[0].State === "Kerala") {%> selected <%} %>>Kerala</option>
                            <option value="Madhya Pradesh" <% if(basicDetails !== "" && basicDetails[0].State === "Madhya Pradesh") {%> selected <%} %>>Madhya Pradesh</option>
                            <option value="Maharashtra" <% if(basicDetails !== "" && basicDetails[0].State === "Maharashtra") {%> selected <%} %>>Maharashtra</option>
                            <option value="Manipur" <% if(basicDetails !== "" && basicDetails[0].State === "Manipur") {%> selected <%} %>>Manipur</option>
                            <option value="Meghalaya" <% if(basicDetails !== "" && basicDetails[0].State === "Meghalaya") {%> selected <%} %>>Meghalaya</option>
                            <option value="Mizoram" <% if(basicDetails !== "" && basicDetails[0].State === "Mizoram") {%> selected <%} %>>Mizoram</option>
                            <option value="Nagaland" <% if(basicDetails !== "" && basicDetails[0].State === "Nagaland") {%> selected <%} %>>Nagaland</option>Karnataka
                            <option value="Odisha" <% if(basicDetails !== "" && basicDetails[0].State === "Odisha") {%> selected <%} %>>Odisha</option>
                            <option value="Punjab" <% if(basicDetails !== "" && basicDetails[0].State === "Punjab") {%> selected <%} %>>Punjab</option>
                            <option value="Rajasthan" <% if(basicDetails !== "" && basicDetails[0].State === "Rajasthan") {%> selected <%} %>>Rajasthan</option>
                            <option value="Sikkim" <% if(basicDetails !== "" && basicDetails[0].State === "Sikkim") {%> selected <%} %>>Sikkim</option>
                            <option value="Tamil Nadu" <% if(basicDetails !== "" && basicDetails[0].State === "Tamil Nadu") {%> selected <%} %>>Tamil Nadu</option>
                            <option value="Telangana" <% if(basicDetails !== "" && basicDetails[0].State === "Telangana") {%> selected <%} %>>Telangana</option>
                            <option value="Tripura" <% if(basicDetails !== "" && basicDetails[0].State === "Tripura") {%> selected <%} %>>Tripura</option>
                            <option value="Uttarakhand" <% if(basicDetails !== "" && basicDetails[0].State === "Uttarakhand") {%> selected <%} %>>Uttarakhand</option>
                            <option value="Uttar Pradesh" <% if(basicDetails !== "" && basicDetails[0].State === "Uttar Pradesh") {%> selected <%} %>>Uttar Pradesh</option>
                            <option value="West Bengal" <% if(basicDetails !== "" && basicDetails[0].State === "West Bengal") {%> selected <%} %>>West Bengal</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <label for="relationship">RelationShip Status: <span class="mandatory-symbol">*</span></label>
                        <select name="relationship" id="relationship">
                            <option value="Single" <% if(basicDetails !== "" && basicDetails[0].RelationShipStatus === "Single") {%> selected <%} %> >Single</option>
                            <option value="Married" <% if(basicDetails !== "" && basicDetails[0].RelationShipStatus === "Married") {%> selected <%} %> >Married</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="zipCode">Zip Code: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="zipCode" id="zipCode" placeholder=" XXXXXX" class="require" <% if(basicDetails !== "" && basicDetails[0].ZipCode) {%> value="<%= basicDetails[0].ZipCode %>" <%} %>>
                    </div>
                    <div class="col-4">
                        <label for="dob"> Date of Birth <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="dob" id="dob" class="mb-2" placeholder=" YYYY-MM-DD" class="require" <% if(basicDetails !== "" && basicDetails[0].DOB) {%> value="<%= basicDetails[0].DOB.getFullYear()%>-<%= basicDetails[0].DOB.getMonth()+1%>-<%= basicDetails[0].DOB.getDate()%>" <%} %>>
                    </div>
                </div>
            </div>
            

            <!-- Logic to find the course index -->
            <% if(educationDetails !== "") { %>
                <% var sscIndex = educationDetails.findIndex( education =>{ %>
                    <% return education.CourseName === "SSC"; %>
                <% } ) %>
    
                <% var hscIndex = educationDetails.findIndex( education =>{ %>
                    <% return education.CourseName === "HSC"; %>
                <% } ) %>
    
                <% var bachelorIndex = educationDetails.findIndex( education =>{ %>
                    <% return education.CourseName === "Bachelor"; %>
                <% } ) %>
    
                <% var masterIndex = educationDetails.findIndex( education =>{ %>
                    <% return education.CourseName === "Master"; %>
                <% } ) %>
            <% } %>

            <div id="educationDetail" class="mb-4"> 
                <h4>Education Details</h4>
                <div class="row">
                    <h6>SSC Result</h6>
                    <div class="col-3">
                        <label for="courseName">CourseName: <span class="mandatory-symbol">*</span></label>
                        <select name="courseName" id="courseName" class="require">
                            <option value="SSC">SSC</option>
                            <option value="HSC">HSC</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Bachelor">Bachelor</option>
                            <option value="Master">Master</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="boardName">Name of Board: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="boardName" id="boardName" class="require" <% if(educationDetails!== "" && sscIndex !== -1 && educationDetails[sscIndex].BoardORUniversity) {%> value="<%= educationDetails[sscIndex].BoardORUniversity %>" <%} %>  >
                    </div>
                    <div class="col-3">
                        <label for="passingYear">Passing Year: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="passingYear" id="passingYear" placeholder=" YYYY" class="require" <% if(educationDetails!== "" && sscIndex !== -1 && educationDetails[sscIndex].PassingYear) {%> value="<%= educationDetails[sscIndex].PassingYear %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="percentage">Percentage: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="percentage" id="percentage" class="require"  <% if(educationDetails!== "" && sscIndex !== -1 &&  educationDetails[sscIndex].PassingYear) {%> value="<%= educationDetails[sscIndex].Percentage %>" <%} %>> 
                    </div>
                </div>
                <div class="row mt-3">
                    <h6 >HSC/Diploma Result</h6>
                    <div class="col-3">
                        <label for="courseName2">CourseName: <span class="mandatory-symbol">*</span></label>
                        <select name="courseName2" id="courseName2" class="require">
                            <option value="SSC">SSC</option>
                            <option value="HSC" selected>HSC</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Bachelor">Bachelor</option>
                            <option value="Master">Master</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="boardName2">Name of Board: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="boardName2" id="boardName2" class="require" <% if(educationDetails!== "" && hscIndex !== -1 && educationDetails[hscIndex].BoardORUniversity) {%> value="<%= educationDetails[hscIndex].BoardORUniversity %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="passingYear2">Passing Year: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="passingYear2" id="passingYear2" placeholder=" YYYY" class="require" <% if(educationDetails!== "" && hscIndex !== -1 && educationDetails[hscIndex].BoardORUniversity) {%> value="<%= educationDetails[hscIndex].PassingYear %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="percentage2">Percentage: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="percentage2" id="percentage2" class="require" <% if(educationDetails!== "" &&  hscIndex !== -1 && educationDetails[hscIndex].BoardORUniversity) {%> value="<%= educationDetails[hscIndex].Percentage %>" <%} %> >
                    </div>
                </div>
                <div class="row mt-3">
                    <h6>Bachelor Degree</h6>
                    <div class="col-3">
                        <label for="courseName3">CourseName: <span class="mandatory-symbol">*</span></label>
                        <select name="courseName3" id="courseName3" class="require">
                            <option value="SSC">SSC</option>
                            <option value="HSC">HSC</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Bachelor" selected>Bachelor</option>
                            <option value="Master">Master</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="university">University: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="university" id="university" class="require" <% if(educationDetails!== "" && bachelorIndex !== -1 && educationDetails[bachelorIndex].BoardORUniversity) {%> value="<%= educationDetails[bachelorIndex].BoardORUniversity %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="passingYear3">Passing Year: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="passingYear3" id="passingYear3" placeholder=" YYYY" class="require" <% if(educationDetails!== "" && bachelorIndex !== -1 && educationDetails[bachelorIndex].BoardORUniversity) {%> value="<%= educationDetails[bachelorIndex].PassingYear%>" <%} %> > 
                    </div>
                    <div class="col-3">
                        <label for="percentage3">Percentage: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="percentage3" id="percentage3" class="require" <% if(educationDetails!== "" && bachelorIndex !== -1 && educationDetails[bachelorIndex].BoardORUniversity) {%> value="<%= educationDetails[bachelorIndex].Percentage %>" <%} %> >
                    </div>
                </div>
                <div class="row mt-3" id="masterDegree">
                    <h6 >Master Degree</h6>
                    <div class="col-3">
                        <label for="courseName4">CourseName: <span class="mandatory-symbol">*</span></label>
                        <select name="courseName4" id="courseName4">
                            <option value="">Select</option>
                            <option value="SSC">SSC</option>
                            <option value="HSC">HSC</option>
                            <option value="Diploma">Diploma</option>
                            <option value="Bachelor">Bachelor</option>
                            <option value="Master" <% if(educationDetails!== "" && masterIndex !== -1  && educationDetails.length > 3 && educationDetails[masterIndex].CourseName) {%> selected <%} %>>Master</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label for="university2">University:</label>
                        <input type="text" name="university2" id="university2" <% if(educationDetails!== "" && masterIndex !== -1  && educationDetails.length > 3 && educationDetails[masterIndex].BoardORUniversity) {%> value="<%= educationDetails[masterIndex].BoardORUniversity %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="passingYear4">Passing Year:</label>
                        <input type="text" name="passingYear4" id="passingYear4" placeholder=" YYYY" <% if(educationDetails!== "" && masterIndex !== -1 &&  educationDetails.length > 3 && educationDetails[masterIndex].PassingYear) {%> value="<%= educationDetails[masterIndex].PassingYear %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="percentage4">Percentage:</label>
                        <input type="text" name="percentage4" id="percentage4" <% if(educationDetails!== "" && masterIndex !== -1 && educationDetails.length > 3 && educationDetails[masterIndex].Percentage) {%> value="<%= educationDetails[masterIndex].Percentage %>" <%} %> >
                    </div>
                </div>
            </div>
    
            <div id="workExperience" class="mb-4">
                <h4>Work Experience</h4>
                <div class="button-group">
                    <div class="btn btn-outline-primary btn-sm" onclick="addRow(this)" id="addExperience">Add Experience</div>
                    <div class="btn btn-outline-primary btn-sm" onclick="removeRow(this)" id="removeExperience">Remove Experience</div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="companyName">Company Name:</label>
                        <input type="text" name="companyName" id="companyName" <% if(workExperience !== "" && workExperience.length > 0 &&  workExperience[0].CompanyName) {%> value="<%= workExperience[0].CompanyName %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="designation2">Designation:</label>
                        <input type="text" name="designation2" id="designation2" <% if(workExperience !== "" && workExperience.length > 0 && workExperience[0].Designation) {%> value="<%= workExperience[0].Designation %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="startDate">Start Date:</label>
                        <input type="text" name="startDate" id="startDate" placeholder=" YYYY-MM-DD" <% if(workExperience !== "" && workExperience.length > 0 && workExperience[0].DOJ) {%> value="<%= workExperience[0].DOJ.getFullYear() %>-<%= workExperience[0].DOJ.getMonth()+1 %>-<%= workExperience[0].DOJ.getDate() %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="endDate">End Date:</label>
                        <input type="text" name="endDate" id="endDate" placeholder=" YYYY-MM-DD" <% if(workExperience !== "" && workExperience.length > 0 &&   workExperience[0].DOR) {%> value="<%= workExperience[0].DOR.getFullYear()%>-<%= workExperience[0].DOR.getMonth()+1%>-<%= workExperience[0].DOR.getDate()%>" <%} %> >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">
                        <label for="companyName2">Company Name:</label>
                        <input type="text" name="companyName" id="companyName2" <% if(workExperience !== "" && workExperience.length > 1 &&  workExperience[1].CompanyName) {%> value="<%= workExperience[1].CompanyName %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="designation3">Designation:</label>
                        <input type="text" name="designation2" id="designation3" <% if(workExperience !== "" && workExperience.length > 1 &&  workExperience[1].Designation) {%> value="<%= workExperience[1].Designation %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="startDate2">Start Date:</label>
                        <input type="text" name="startDate" id="startDate2" placeholder=" YYYY-MM-DD" <% if(workExperience !== "" && workExperience.length > 1 &&  workExperience[1].DOJ) {%> value="<%= workExperience[1].DOJ.getFullYear()%>-<%= workExperience[1].DOJ.getMonth()+1%>-<%= workExperience[1].DOJ.getDate()%>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="endDate2">End Date:</label>
                        <input type="text" name="endDate" id="endDate2" placeholder=" YYYY-MM-DD" <% if(workExperience !== "" && workExperience.length > 1 &&  workExperience[1].DOJ) {%> value="<%= workExperience[1].DOR.getFullYear()%>-<%= workExperience[1].DOR.getMonth()+1%>-<%= workExperience[1].DOR.getDate()%>" <%} %> >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3">
                        <label for="companyName3">Company Name:</label>
                        <input type="text" name="companyName" id="companyName3" <% if(workExperience !== "" && workExperience.length > 2 &&  workExperience[2].CompanyName) {%> value="<%= workExperience[2].CompanyName %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="designation4">Designation:</label>
                        <input type="text" name="designation2" id="designation4" <% if(workExperience !== "" && workExperience.length > 2 &&  workExperience[2].Designation) {%> value="<%= workExperience[2].Designation %>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="startDate3">Start Date:</label>
                        <input type="text" name="startDate" id="startDate3" placeholder=" YYYY-MM-DD" <% if(workExperience !== "" && workExperience.length > 2 &&  workExperience[2].DOJ) {%> value="<%= workExperience[2].DOJ.getFullYear()%>-<%= workExperience[2].DOJ.getMonth()+1%>-<%= workExperience[2].DOJ.getDate()%>" <%} %> >
                    </div>
                    <div class="col-3">
                        <label for="endDate3">End Date:</label>
                        <input type="text" name="endDate" id="endDate3" placeholder=" YYYY-MM-DD" <% if(workExperience !== "" && workExperience.length > 2 &&  workExperience[2].DOR) {%> value="<%= workExperience[2].DOR.getFullYear()%>-<%= workExperience[2].DOR.getMonth()+1%>-<%= workExperience[2].DOR.getDate() %>" <%} %> >
                    </div>
                </div>
            </div>
            

            <!-- Logic to find the language index -->
            <% if(language !== "") { %>
                <% var hindiIndex = language.findIndex( lang =>{ %>
                    <% return lang.LanguageName === "Hindi"; %>
                <% } ) %>
    
                <% var gujaratiIndex = language.findIndex( lang =>{ %>
                    <% return lang.LanguageName === "Gujarati"; %>
                <% } ) %>
    
                <% var englishIndex = language.findIndex( lang =>{ %>
                    <% return lang.LanguageName === "English"; %>
                <% } ) %>
            <% } %>

           


            <div id="languageKnown" class="mb-4">
                <h4>Language Known</h4>
                <div class="row">
                    <div class="col">
                        <input type="checkbox" name="hindiLanguage" id="hindiLanguage" value="Hindi" <% if(language !== "" && language.length > 0 && hindiIndex !== -1 ) {%> checked <%} %> >
                        <label for="hindiLanguage" style="margin-right: 10px;">Hindi</label>
                        <input type="checkbox" name="hindiRead" id="hindiRead" value="Read" <% if(language !== "" && language.length > 0 && hindiIndex !== -1 && language[hindiIndex].IsRead === "Read" ) {%> checked <%} %> >
                        <label for="hindiRead" style="margin-right: 10px;">Read</label>
                        <input type="checkbox" name="hindiWrite" id="hindiWrite" value="Write" <% if(language !== "" && language.length > 0 && hindiIndex !== -1 && language[hindiIndex].IsWrite === "Write" ) {%> checked <%} %> >
                        <label for="hindiWrite" style="margin-right: 10px;">Write</label>
                        <input type="checkbox" name="hindiSpeak" id="hindiSpeak" value="Speak" <% if(language !== "" && language.length > 0 && hindiIndex !== -1 && language[hindiIndex].IsSpeak === "Speak" ) {%> checked <%} %> >
                        <label for="hindiSpeak" style="margin-right: 10px;">Speak</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="checkbox" name="gujaratiLanguage" id="gujaratiLanguage" value="Gujarati" <% if(language !== "" && language.length > 0 && gujaratiIndex!== -1 ) {%> checked <%} %> >
                        <label for="gujaratiLanguage" style="margin-right: 10px;">Gujarati</label>
                        <input type="checkbox" name="gujaratiRead" id="gujaratiRead" value="Read" <% if(language !== "" && language.length > 0 && gujaratiIndex !== -1 && language[gujaratiIndex].IsRead === "Read" ) {%> checked <%} %> >
                        <label for="gujaratiRead" style="margin-right: 10px;">Read</label>
                        <input type="checkbox" name="gujaratiWrite" id="gujaratiWrite" value="Write" <% if(language !== "" && language.length > 0 && gujaratiIndex !== -1 && language[gujaratiIndex].IsWrite === "Write" ) {%> checked <%} %> >
                        <label for="gujaratiWrite" style="margin-right: 10px;">Write</label>
                        <input type="checkbox" name="gujaratiSpeak" id="gujaratiSpeak" value="Speak" <% if(language !== "" && language.length > 0 && gujaratiIndex !== -1 && language[gujaratiIndex].IsSpeak === "Speak" ) {%> checked <%} %> >
                        <label for="gujaratiSpeak" style="margin-right: 10px;">Speak</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input type="checkbox" name="englishLanguage" id="englishLanguage" value="English" <% if(language !== "" && language.length > 0 && englishIndex !== -1 ) {%> checked <%} %> >
                        <label for="englishLanguage" style="margin-right: 10px;">English</label>
                        <input type="checkbox" name="englishRead" id="englishRead" value="Read" <% if(language !== "" && language.length > 0 && englishIndex !== -1 && language[englishIndex].IsRead === "Read" ) {%> checked <%} %> >
                        <label for="englishRead" style="margin-right: 10px;">Read</label>
                        <input type="checkbox" name="englishWrite" id="englishWrite" value="Write" <% if(language !== "" && language.length > 0 && englishIndex !== -1 && language[englishIndex].IsWrite === "Write" ) {%> checked <%} %> >
                        <label for="englishWrite" style="margin-right: 10px;">Write</label>
                        <input type="checkbox" name="englishSpeak" id="englishSpeak" value="Speak" <% if(language !== "" && language.length > 0 && englishIndex !== -1 && language[englishIndex].IsSpeak === "Speak" ) {%> checked <%} %> >
                        <label for="englishSpeak" style="margin-right: 10px;">Speak</label>
                    </div>
                </div>
            </div>
            
            <!-- Logic to find the language index -->
            <% if(technology !== "") { %>
                <% var phpIndex = technology.findIndex( tech =>{ %>
                    <% return tech.TechnologyName === "PHP"; %>
                <% } ) %>

                <% var mysqlIndex = technology.findIndex( tech =>{ %>
                    <% return tech.TechnologyName === "MySQL"; %>
                <% } ) %>

                <% var laravelIndex = technology.findIndex( tech =>{ %>
                    <% return tech.TechnologyName === "Laravel"; %>
                <% } ) %>

                <% var oracleIndex = technology.findIndex( tech =>{ %>
                    <% return tech.TechnologyName === "Oracle"; %>
                <% } ) %>
            <% } %>

            <div id="technologies" class="mb-4">
                <h4>Technologies You Know</h4>
                <div class="row">
                    <div class="col" id="phpComp">
                        <input type="checkbox" name="phpTech" id="phpTech" value="PHP" <% if(technology !== "" && technology.length > 0 && phpIndex !== -1 ) {%> checked <%} %> >
                        <label for="phpTech" style="margin-right: 10px;">PHP</label>
                        <input type="radio" name="php" id="phpBeginer" value="Beginer" <% if(technology !== "" && technology.length > 0 && phpIndex !== -1 && technology[phpIndex].Proficiency === "Beginer") {%> checked <%} %> >
                        <label for="phpBeginer" style="margin-right: 10px;">Beginer</label>
                        <input type="radio" name="php" id="phpMideator" value="Mideator" <% if(technology !== "" && technology.length > 0 && phpIndex !== -1 && technology[phpIndex].Proficiency === "Mideator") {%> checked <%} %> >
                        <label for="phpMideator" style="margin-right: 10px;">Mideator</label>
                        <input type="radio" name="php" id="phpExpert" value="Expert" <% if(technology !== "" && technology.length > 0 && phpIndex !== -1 && technology[phpIndex].Proficiency === "Expert") {%> checked <%} %> >
                        <label for="phpExpert" style="margin-right: 10px;">Expert</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="mysqlComp">
                        <input type="checkbox" name="mysqlTech" id="mysqlTech" value="MySQL" <% if(technology !== "" && technology.length > 0 && mysqlIndex !== -1 ) {%> checked <%} %> >
                        <label for="mysqlTech" style="margin-right: 10px;">MySQL</label>
                        <input type="radio" name="mysql" id="mysqlBeginer" value="Beginer" <% if(technology !== "" && technology.length > 0 && mysqlIndex !== -1 && technology[mysqlIndex].Proficiency === "Beginer") {%> checked <%} %> >
                        <label for="mysqlBeginer" style="margin-right: 10px;">Beginer</label>
                        <input type="radio" name="mysql" id="mysqlMideator" value="Mideator" <% if(technology !== "" && technology.length > 0 && mysqlIndex !== -1 && technology[mysqlIndex].Proficiency === "Mideator") {%> checked <%} %> >
                        <label for="mysqlMideator" style="margin-right: 10px;">Mideator</label>
                        <input type="radio" name="mysql" id="mysqlExpert" value="Expert" <% if(technology !== "" && technology.length > 0 && mysqlIndex !== -1 && technology[mysqlIndex].Proficiency === "Expert") {%> checked <%} %> >
                        <label for="mysqlExpert" style="margin-right: 10px;">Expert</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="laravelComp">
                        <input type="checkbox" name="laravelTech" id="laravelTech" value="Laravel" <% if(technology !== "" && technology.length > 0 && laravelIndex!== -1 ) {%> checked <%} %> >
                        <label for="laravelTech" style="margin-right: 10px;">Laravel</label>
                        <input type="radio" name="laravel" id="laravelBeginer" value="Beginer" <% if(technology !== "" && technology.length > 0 && laravelIndex !== -1 && technology[laravelIndex].Proficiency === "Beginer") {%> checked <%} %> > 
                        <label for="laravelBeginer" style="margin-right: 10px;">Beginer</label>
                        <input type="radio" name="laravel" id="laravelMideator" value="Mideator" <% if(technology !== "" && technology.length > 0 && laravelIndex !== -1 && technology[laravelIndex].Proficiency === "Mideator") {%> checked <%} %> >
                        <label for="laravelMideator" style="margin-right: 10px;">Mideator</label>
                        <input type="radio" name="laravel" id="laravelExpert" value="Expert" <% if(technology !== "" && technology.length > 0 && laravelIndex !== -1 && technology[laravelIndex].Proficiency === "Expert") {%> checked <%} %> >
                        <label for="laravelExpert" style="margin-right: 10px;">Expert</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="oracleComp">
                        <input type="checkbox" name="oracleTech" id="oracleTech" value="Oracle" <% if(technology !== "" && technology.length > 0 && oracleIndex !== -1 ) {%> checked <%} %> >
                        <label for="oracleTech" style="margin-right: 10px;">Oracle</label>
                        <input type="radio" name="oracle" id="oracleBeginer" value="Beginer" <% if(technology !== "" && technology.length > 0 && oracleIndex !== -1 && technology[oracleIndex].Proficiency === "Beginer") {%> checked <%} %> >
                        <label for="oracleBeginer" style="margin-right: 10px;">Beginer</label>
                        <input type="radio" name="oracle" id="oracleMideator" value="Mideator" <% if(technology !== "" && technology.length > 0 && oracleIndex !== -1 && technology[oracleIndex].Proficiency === "Mideator") {%> checked <%} %> >
                        <label for="oracleMideator" style="margin-right: 10px;">Mideator</label>
                        <input type="radio" name="oracle" id="oracleExpert" value="Expert" <% if(technology !== "" && technology.length > 0 && oracleIndex !== -1 && technology[oracleIndex].Proficiency === "Expert") {%> checked <%} %> >
                        <label for="oracleExpert" style="margin-right: 10px;">Expert</label>
                    </div>
                </div>
            </div>
    
            <div id="referenceContact" class="mb-4">
                <h4>Reference Contact</h4>
                <div class="button-group">
                    <div class="btn btn-outline-primary btn-sm" onclick="addRow(this)" id="addReference">Add Reference</div>
                    <div class="btn btn-outline-primary btn-sm" onclick="removeRow(this)" id="removeReference">Remove Reference</div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <label for="referenceName">Name:</label>
                        <input type="text" name="referenceName" id="referenceName" <% if(reference !== "" && reference.length > 0 &&  reference[0].FullName) {%> value="<%= reference[0].FullName %>" <%} %> >
                    </div>
                    <div class="col-4">
                        <label for="referenceContactNumber">Contact Number:</label>
                        <input type="text" name="referenceContactNumber" id="referenceContactNumber" <% if(reference !== "" && reference.length > 0 &&  reference[0].ContactNumber) {%> value="<%= reference[0].ContactNumber %>" <%} %>  >
                    </div>
                    <div class="col-4">
                        <label for="referenceRelation">Relation:</label>
                        <input type="text" name="referenceRelation" id="referenceRelation" <% if(reference !== "" && reference.length > 0 &&  reference[0].Relation) {%> value="<%= reference[0].Relation %>" <%} %> >
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4">
                        <label for="referenceName2">Name:</label>
                        <input type="text" name="referenceName" id="referenceName2" <% if(reference !== "" && reference.length > 1 &&  reference[1].FullName) {%> value="<%= reference[1].FullName %>" <%} %>  >
                    </div>
                    <div class="col-4">
                        <label for="referenceContactNumber2">Contact Number:</label>
                        <input type="text" name="referenceContactNumber" id="referenceContactNumber2" <% if(reference !== "" && reference.length > 1 &&  reference[1].ContactNumber) {%> value="<%= reference[1].ContactNumber %>" <%} %> >
                    </div>
                    <div class="col-4">
                        <label for="referenceRelation2">Relation:</label>
                        <input type="text" name="referenceRelation" id="referenceRelation2" <% if(reference !== "" && reference.length > 1 &&  reference[1].Relation) {%> value="<%= reference[1].Relation %>" <%} %> >
                    </div>
                </div>
            </div>

            <% if(preferences !== "") { %>
                <% var ahmedabadIndex = preferences.findIndex( pref =>{ %>
                    <% return pref.Location === "Ahmedabad"; %>
                <% } ) %>

                <% var gadhinagarIndex = preferences.findIndex( pref =>{ %>
                    <% return pref.Location === "Gadhinagar"; %>
                <% } ) %>

                <% var suratIndex = preferences.findIndex( pref =>{ %>
                    <% return pref.Location === "Surat"; %>
                <% } ) %>

            <% } %>
    
            <div id="preferences" class="mb-4">
                <h4>Preferences</h4>
                <div class="row mb-3">
                    <div class="col-4">
                        <label for="location">Location: <span class="mandatory-symbol">*</span></label>
                        <select name="location" id="location" multiple>
                             <option value="Ahmedabad" <% if(preferences !== "" && ahmedabadIndex !== -1 && preferences[ahmedabadIndex].Location === "Ahmedabad") {%> selected %>" <%} %> >Ahmedabad</option>
                            <option value="Gadhinagar" <% if(preferences !== "" && gadhinagarIndex !== -1 &&   preferences[gadhinagarIndex].Location === "Gadhinagar") {%> selected %>" <%} %> >Gadhinagar</option>
                            <option value="Surat" <% if(preferences !== "" && suratIndex !== -1 &&  preferences[suratIndex].Location === "Surat") {%> selected %>" <%} %> >Surat</option>    
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="department">Department: <span class="mandatory-symbol">*</span></label>
                        <select name="department" id="department">
                            <option value="Development" <% if(preferences !== "" && preferences[0].Department === "Development") {%> selected %>" <%} %> >Development</option>
                            <option value="Marketing" <% if(preferences !== "" && preferences[0].Department === "Marketing") {%> selected %>" <%} %> >Marketing</option>    
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="noticePeriod">Notice Period: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="noticePeriod" id="noticePeriod"  class="require" <% if(preferences !== "" && preferences[0].NoticePeriod !== "") {%> value="<%= preferences[0].NoticePeriod %>" <%} %> >
                    </div>
                    <div class="col-4">
                        <label for="expectedCTC">Expected CTC: <span class="mandatory-symbol">*</span></label>
                        <input type="text" name="expectedCTC" id="expectedCTC" class="require" <% if(preferences !== "" && preferences[0].ExpectedCTC) {%> value="<%= preferences[0].ExpectedCTC %>" <%} %> >
                    </div>
                    <div class="col-4">
                        <label for="currentCTC">Current CTC:</label>
                        <input type="text" name="currentCTC" id="currentCTC" <% if(preferences !== "" && preferences[0].CurrentCTC !== "") {%> value="<%= preferences[0].CurrentCTC %>" <%} %>  >
                    </div>
                </div>
            </div>
    
            <div id="submit" class="mb-4 d-flex justify-content-center">
                <input type="submit" class="btn btn-primary w-25 me-2">
            </div>
        </div>
    </form>


    <script>
        let isValidLang = false;  
        let error = "";
        let workRows = 3;
        let referenceRows = 2;
       
        const dataValidation = ()=>{
            // console.log("called");
            error = "";
            let form = document.querySelector('form');
            let errrorElement = document.getElementsByClassName('error');
            let radioChecked = false;
            let radioElement = "";
            
            if(errrorElement.length > 0){
                for(let i=errrorElement.length; i>0; i--){
                    errrorElement[i-1].remove();
                }
            }

            Array.from(form.elements).filter( (element) =>{
                return element.type !== "submit";
            } ).forEach( (element) =>{
                element.style.border = "";
            });

            Array.from(form.elements).filter( (element)=>{
                return element.type !== "submit";
            } ).forEach( (element)=>{
                if(element.type == "radio" && element.name === "gender"){
                    if(element.checked){
                        radioChecked = true;
                    } 
                    radioElement = element.name;
                } else{
                    if(radioChecked === false && radioElement !== ""){
                        if(radioElement === "gender"){

                            if(document.getElementById(`${radioElement}Comp`).lastElementChild.classList.contains("error") === false){
                                let spanElement = document.createElement("span");
                                let textNode = document.createTextNode(`${radioElement} is Required`);
                                spanElement.appendChild(textNode);

                                let element = document.getElementById(`${radioElement}Comp`);
                                element.appendChild(spanElement);
                                spanElement.classList.add("error");
                            } 
                            
                        }
                        
                        error += " Check the radio button ";
                        radioElement = "";
                    } 

                    if(element.value.trim() === "" && element.classList.contains("require") ){
                        document.getElementById(`${element.id}`).style.border = "1px solid red";
                        error += " Fields are Complusory ";
                    } else if(element.name === "email"){
                        let validateEmail = isValidEmail(element.value);
                        if(validateEmail === false){
                            document.getElementById(`${element.id}`).style.border = "1px solid red";
                            error += " Email is not valid ";
                        }
                    } else if(element.name === "phoneNumber"){
                        let validatePhoneNumber = isValidPhoneNumber(element.value);
                        if(validatePhoneNumber === false){
                            document.getElementById(`${element.id}`).style.border = "1px solid red";
                            error += " Phone Number is not valid ";
                        }
                    } else if(element.name === "zipCode"){
                        let validateZipCode = isValidZipCode(element.value);
                        if(validateZipCode === false){
                            document.getElementById(`${element.id}`).style.border = "1px solid red";
                            error += " Zip Code is not valid ";
                        }
                    } else if(element.name === "dob" || element.value.trim() !== "" && element.id === "startDate" ||  element.value.trim() !== "" && element.id === "startDate2" ||  element.value.trim() !== "" && element.id === "startDate3" ||  element.value.trim() !== "" && element.id=== "endDate" ||  element.value.trim() !== "" && element.id === "endDate2" ||  element.value.trim() !== "" && element.id === "endDate3"){
                        let validateDate = isValidDate(element.value);
                        if(validateDate === false){
                            document.getElementById(`${element.id}`).style.border = "1px solid red";
                            error += " Date is not valid ";
                        }

                    } else if(element.name === "passingYear" || element.name === "passingYear2" || element.name === "passingYear3" || element.value.trim() !== "" && element.name === "passingYear4"){
                        let validateYear = isValidYear(element.value);
                        if(validateYear === false){
                            document.getElementById(`${element.id}`).style.border = "1px solid red";
                            error += " Year is not valid ";
                        }
                        
                    }  else if(element.name === "percentage" || element.name === "percentage2" || element.name === "percentage3" || element.value.trim() !== "" && element.name === "percentage4"){
                        let validatePercentage = isValidPercentage(element.value);
                        if(validatePercentage === false){
                            document.getElementById(`${element.id}`).style.border = "1px solid red";
                            error += " Percentage is not valid ";
                        }
                    }
                    
                    //Logic to validate the fields
                    if (element.name === "courseName4" || element.name === "university2"  || element.name === "passingYear4" || element.name === "percentage4"){
                        if(element.value.trim() !== ""){
                            isValidMasterData();
                        }
                    } else if(element.id === "companyName"){
                        isValidWorkExperienceData();
                    } else if(element.name === "hindiLanguage"){
                        isValidLanguageData(-1);
                        if(isValidLang === false){
                            if(document.getElementById("languageKnown").lastElementChild.classList.contains("error") === false){
                                let spanElement = document.createElement("span");
                                let textNode = document.createTextNode(`At least one language is Required`);
                                spanElement.appendChild(textNode);
                                
                                let element = document.getElementById("languageKnown");
                                element.appendChild(spanElement);
                                spanElement.classList.add("error");
                            } 
                        } else{
                            isValidLanguageData(0);
                        }
                    } else if(element.name === "gujaratiLanguage"){
                        isValidLanguageData(1);
                    } else if(element.name === "englishLanguage"){
                        isValidLanguageData(2);
                    } else if(element.name === "phpTech"){
                        isValidTechnology(0);
                    } else if(element.name === "mysqlTech"){
                        isValidTechnology(1);
                    } else if(element.name === "laravelTech"){
                        isValidTechnology(2);
                    } else if(element.name === "oracleTech"){
                        isValidTechnology(3);
                    } else if(element.id === "referenceName"){
                        isValidReference();
                    }

                }
            } );

           
            console.log(error);
            if(error !== ""){
                return false;
            } else {
                return true;
            }
        }
        
        const handleLowerCase = ()=>{
            let element = document.getElementById("email");
            element.value = element.value.toLowerCase(); 
        }

        const isValidEmail = (emailInput)=>{
            let regex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
            return regex.test(emailInput);
        }

        const isValidPhoneNumber = (phoneNumberInput)=>{
            let number = /^\d{10}$/;
            return number.test(phoneNumberInput);
        }

        const isValidZipCode = (zipcodeInput)=>{
            let regex = /^\d{6}$/;
            return regex.test(zipcodeInput);
        }

        const isValidDate = (dateInput)=>{
            const date = new Date(dateInput);
            if(Object.prototype.toString.call(date) === "[object Date]"){
            if(isNaN(date.getTime())){
                return false;
            } else{
                return true;
            }
            }
        }

        const isValidYear = (yearInput)=>{
            let regex = /^\d{4}$/;
            return regex.test(yearInput);
        }

        const isValidPercentage = (percentageInput)=>{
           if(isNaN(parseFloat(percentageInput)) || parseFloat(percentageInput) < 0 || parseFloat(percentageInput) > 100){
            return false;
           }
           return true;
        }

        const isValidMasterData = () =>{
            // console.log("Called Master");
            let masterElement = document.getElementById("masterDegree");
            let masterChildern = Array.from(masterElement.children);
            masterChildern.filter( child =>{
                return child.tagName !== "H6";
            } ).forEach( element =>{
                // console.log(element.children[1]);
                if(element.children[1].value === ""){
                    document.getElementById(`${element.children[1].id}`).style.border = "1px solid red";
                    error += "Please fill all the details of the corresponding fields";
                }   
            } )
        }        

        const isValidWorkExperienceData = () =>{
            let workElement = document.getElementById("workExperience");
            let workChildern = Array.from(workElement.children);

            workChildern = workChildern.filter( workChild =>{
                return workChild.classList.contains("row");
            } );

            workChildern.forEach( parent =>{
                let inputParent = Array.from(parent.children);
                inputParent = inputParent.filter( parent =>{
                    return parent.children[1].value === "";
                } )

                if(inputParent.length < 4){
                    inputParent.forEach( parent =>{
                        document.getElementById(`${parent.children[1].id}`).style.border = "1px solid red";
                        error += "Please fill all the details of the corresponding fields";
                    } );
                }             
            } )
        }

        const isValidLanguageData = (indexofChildren) =>{
            let lanElement = document.getElementById("languageKnown");
            let isValidLangProficiency = false;
            isValidLang = false;
            
            if(indexofChildren === -1){
                //Logic to check at least one lanuague is selected
                let lanAllChildern = Array.from(lanElement.children);
                lanAllChildern.filter( lanChild =>{
                    return lanChild.tagName !== "H4";
                } ).forEach( lanChild =>{
                    let parent = lanChild.children[0];
                    let inputElement = Array.from(parent.children);
                    inputElement.filter( element =>{
                        return element.tagName !== "LABEL";
                    } ).forEach( element =>{
                        if(element.name === "hindiLanguage" ){
                            if(element.checked){
                                isValidLang = true;
                            }
                        } else if(element.name === "gujaratiLanguage"){
                            if(element.checked){
                                isValidLang = true;
                            }
                        } else if(element.name === "englishLanguage"){
                            if(element.checked){
                                isValidLang = true;
                            }
                        }
                    } )
                } ); 
            } else{
                //Logic to check the selected language attribute
               
                let lanChildern = lanElement.children[indexofChildren+1];
                let inputParent = Array.from(lanChildern.children);
                inputParent.forEach( parent =>{
                    let inputElement = Array.from(parent.children);
                    inputElement.filter( element =>{
                        return element.tagName !== "LABEL";
                    } ).forEach( element =>{
                        if(element.name === "hindiLanguage"){
                            if(element.checked){
                                isValidLang = true;
                            }
                        }else if(element.name === "gujaratiLanguage"){
                            if(element.checked){
                                isValidLang = true;
                            }
                        } else if(element.name === "englishLanguage"){ 
                            if(element.checked){
                                isValidLang = true;
                            }
                        }

                        if(element.name !== "hindiLanguage" && element.name != "gujaratiLanguage" && element.name !== "englishLanguage"){
                            if(element.checked){
                                isValidLangProficiency = true;
                            }
                        } 
                    } )
                } )  


                if(isValidLangProficiency === false && isValidLang === true){
                    if(document.getElementById("languageKnown").lastElementChild.classList.contains("error") === false){
                        let spanElement = document.createElement("span");
                        let textNode = document.createTextNode(`At least one attribute is Required`);
                        spanElement.appendChild(textNode);
                        
                        let element = document.getElementById("languageKnown");
                        element.appendChild(spanElement);
                        spanElement.classList.add("error");
                        error += "Please fill all the details of the corresponding fields";
                    } 
                } else if(isValidLangProficiency === true && isValidLang === false){
                    if(document.getElementById("languageKnown").lastElementChild.classList.contains("error") === false){
                        let spanElement = document.createElement("span");
                        let textNode = document.createTextNode(`Please Select the corresponding language`);
                        spanElement.appendChild(textNode);
                        
                        let element = document.getElementById("languageKnown");
                        element.appendChild(spanElement);
                        spanElement.classList.add("error");
                        error += "Please fill all the details of the corresponding fields";
                    } 
                }
            }
            
        }

        const isValidTechnology = (indexofChildren)=>{
            let isValidTech = false;
            let isValidTechDetail = false;
            let techElement = document.getElementById("technologies");
            let techChildern = techElement.children[indexofChildren+1];
            let inputParent = Array.from(techChildern.children);
            inputParent.forEach( parent =>{
                let inputElement = Array.from(parent.children);
                inputElement.filter( element =>{
                    return element.tagName !== "LABEL";
                } ).forEach( element =>{
                    if(element.name === "phpTech" && element.checked){
                        isValidTech = true;
                    } else if(element.name === "mysqlTech" && element.checked){
                        isValidTech = true; 
                    } else if(element.name === "laravelTech" && element.checked){
                        isValidTech = true; 
                    } else if(element.name === "oracleTech" && element.checked){
                        isValidTech = true; 
                    }

                    if(element.name !== "phpTech" && element.name !== "mysqlTech" && element.name !== "laravelTech" && element.name !== "oracleTech"){
                        if(element.checked){
                            isValidTechDetail = true;
                        }
                    }
                } )
            } )  
            if(isValidTechDetail === false && isValidTech === true){
                if(document.getElementById("technologies").lastElementChild.classList.contains("error") === false){
                    let spanElement = document.createElement("span");
                    let textNode = document.createTextNode(`Please select the technology details`);
                    spanElement.appendChild(textNode);
                    
                    let element = document.getElementById("technologies");
                    element.appendChild(spanElement);
                    spanElement.classList.add("error");
                    error += "Please fill all the details of the corresponding fields";
                } 
            }  else if(isValidTechDetail === true && isValidTech === false){
                if(document.getElementById("technologies").lastElementChild.classList.contains("error") === false){
                    let spanElement = document.createElement("span");
                    let textNode = document.createTextNode(`Please Select the corresponding technology`);
                    spanElement.appendChild(textNode);
                    
                    let element = document.getElementById("technologies");
                    element.appendChild(spanElement);
                    spanElement.classList.add("error");
                    error += "Please fill all the details of the corresponding fields";
                } 
            }
        }

        const isValidReference = (indexofChildren)=>{
            let refElement = document.getElementById("referenceContact");
            let refChildern = Array.from(refElement.children);
            
            refChildern = refChildern.filter( refChild =>{
                return refChild.classList.contains("row");
            } )

            refChildern.forEach( parent =>{
                let inputParent = Array.from(parent.children);
                inputParent = inputParent.filter( parent =>{
                    return parent.children[1].value === "";
                });

                if(inputParent.length < 3){
                    inputParent.forEach( parent =>{
                        document.getElementById(`${parent.children[1].id}`).style.border = "1px solid red";
                        error += "Please fill all the details of the corresponding fields";
                    } );
                }
            } );
        }

        const addRow = (componentElement)=>{
            console.log("Add called");
            if(componentElement.id === "addExperience"){
                let workElement = document.getElementById("workExperience");
                workRows++;
                let workComponent = `<div class="row mt-3">
                    <div class="col-3">
                        <label for="companyName3">Company Name:</label>
                        <input type="text" name="companyName" id="companyName${workRows}">
                    </div>
                    <div class="col-3">
                        <label for="designation4">Designation:</label>
                        <input type="text" name="designation2" id="designation${workRows+1}">
                        </div>
                        <div class="col-3">
                            <label for="startDate3">Start Date:</label>
                            <input type="text" name="startDate" id="startDate${workRows}" placeholder=" YYYY-MM-DD">
                            </div>
                            <div class="col-3">
                        <label for="endDate3">End Date:</label>
                        <input type="text" name="endDate" id="endDate${workRows}" placeholder=" YYYY-MM-DD">
                        </div>
                        </div>`;
                workElement.insertAdjacentHTML('beforeend', workComponent);
            } else{
                let referenceElement = document.getElementById("referenceContact");
                referenceRows++;
                let referenceComponent = `<div class="row mt-3">
                    <div class="col-4">
                        <label for="referenceName">Name:</label>
                        <input type="text" name="referenceName" id="referenceName${referenceRows}">
                    </div>
                    <div class="col-4">
                        <label for="referenceContactNumber">Contact Number:</label>
                        <input type="text" name="referenceContactNumber" id="referenceContactNumber${referenceRows}">
                    </div>
                    <div class="col-4">
                        <label for="referenceRelation">Relation:</label>
                        <input type="text" name="referenceRelation" id="referenceRelation${referenceRows}">
                    </div>
                </div>`;
                referenceElement.insertAdjacentHTML('beforeend', referenceComponent);
            }           
        } 

        const removeRow = (componentElement)=>{
            console.log("Remove called");
            if(componentElement.id === "removeExperience"){
                let workElement = document.getElementById("workExperience");
                if(workElement.children.length > 5){
                    workElement.lastElementChild.remove();
                    workRows--;
                }
            } else{
                let referenceElement = document.getElementById("referenceContact");
                if(referenceElement.children.length > 4){
                    referenceElement.lastElementChild.remove();
                    referenceRows--;
                }
            }
        }

    </script>
</body>
</html>